# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# Android
android/.gradle/
android/app/build/
android/key.properties
*.jks

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
